*{
    box-sizing: border-box;
}
.basta{
    position: relative;
    height: 100vh;
    width:100%;
    overflow: hidden;
    background-color: rgb(207, 250, 235);
}

.basta2{
    position: relative;
    height: 100vh;
    width:100%;
    overflow: hidden;
    background-color: rgb(207, 250, 235);
}


.floor{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    background-color: rgb(26, 15, 15);
    
}

.floor img{
    height: 100px;
    width: auto;
   
    
}

#moa{
   position: absolute;
   top: 200px;
   left: 10px;}

#jugador{
    height: 295px;
    width: auto;
    z-index: 2;
}

#smilo{
    position: absolute;
    top: 273px;
    left: 10px;
}
#jugador2{
    height: 250px;
    width: auto;
    z-index: 2;
}

.roca{
background-color: none;
}

#rock1, #rock2, #rock3, #rock4{
    background-color: rgb(207, 250, 235);
        position: absolute;
    top: 0;
    left: 500px;
    transform: translate(0, -90px);
    height: 90px;
    width: auto;
    
}

#floor{
    display: flex;
   
}
 #bandera{
    position: absolute;
    top:0;
    right:11216px;
    height: 400px;
    width: auto;
    transform: translate(0, -307px);
 }

 #gameover{
     
     width: 500px;
     height: 500px;
     background-color: black;
     z-index: 5555;
     margin: 0 auto;
     align-self: center;
     border-radius: 5px;
     display: flex;
     margin-top: 7em;
     justify-content: space-around;
     align-content: center;
     align-items: center;

 }

 button{
     width: 40%;
     height: 80px;
     padding: 2em;
     border-radius: 2px;
     background-color: rgb(151, 151, 151);
     border: none;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 1em;
     margin-left: .5em;
 }

 button:focus{
     border-style: none;
 }

 #youWon{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 14em;
 }

.moacard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    text-align: center;
    line-height: 2em;
    width: 80%;
 }

 .cardimg{
    height: 295px;
    width: auto;
    
 }

 .nextlevel{
     background-color: rgb(110, 110, 110);
     padding:2em 3em 2em 3em;
     text-decoration: none;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    border-radius: 5px;
 }

 .smilocard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* EN EL RESPONSIVE HAY COSAS QUE NO CUADRAN
COMO EN LA VERSION DE PANTALLA COMPLETA PORQUE
TENÍA QUE CAMBIAR TODA LA GENERACIÓN DE PIEDRAS Y 
LA DISTANCIA DE LA BANDERA Y TODO*/

@media (max-width: 600px){
    html{
        overflow: hidden;
    }
    body{
        overflow: hidden;
    }
    #moa{
        position: absolute;
        top: 300px;
        left: 10px;}
     
     #jugador{
         height: 150px;
         width: auto;
         z-index: 2;
     }
     
     #smilo{
         position: absolute;
         top: 315px;
         left: 10px;
     }
     #jugador2{
         height: 150px;
         width: auto;
         z-index: 2;
     }

     #rock1, #rock2, #rock3, #rock4{
        background-color: rgb(207, 250, 235);
        position: absolute;
        top: 40px;
        left: 500px;
        transform: translate(0, -90px);
        height: 50px;
        width: auto;
        
    }

    #bandera{
        position: absolute;
        top:155px;
        right: 11216px;
        height: 200px;
        width: auto;
        transform: translate(0, -307px);
     }

     .floor{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40%;
        background-color: rgb(26, 15, 15);
        
    }
    
    .floor img{
        height: 80px;
        width: auto;
       
        
    }
}