*{
    font-family: 'Sigmar One', cursive;
}

body{ 
    height: 100%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(
        rgb(207, 250, 235),
        rgb(146, 211, 188),
        rgb(55, 82, 72)
        );
        padding-bottom: 15em;
        overflow: hidden;
    
}


.container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    height: auto;
    padding-top:10em; 

}
h3{
    font-size: 5em;
    margin: 0;
}

h4{
    font-size: 3em;
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-bottom: 5em;
}

#menu a img{
    height: 100px;
    width: auto;
    padding: 2em;
}

a{
    width: 100px;
    height: auto;
}

@media (max-width: 600px){

   
    body{ 
        height: 100%;
        width: 100%;
        display: flex;
       overflow: hidden;
        
    }
    .container{
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    #menu{
        height: 100%;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2em;
       
    }

    #menu a{
        margin-right: 5em;
    }
    #menu a img{
        height: 70px;
        width: auto;
        padding: 1em;
    }

}